
body {
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size:70px;
  line-height:1;
}

h2 {
  font-family: 'Poppins', sans-serif !important;
  text-transform: uppercase;
  font-size:14px !important;
}



